.clr {
    clear: both;
}

.clearfix:after {
    clear: both;
    content: "";
    display: table;
}

body {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

.center-block-main {
    max-width: 1170px;
    margin: 0 auto;
}

.header {
    width: 100%;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
}

.menu-wrap {
    display: flex;
}

.nav {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-right: 20px;
}

.nav>li {
    margin-left: 30px;
}

.nav>li>a {
    text-decoration: none;
    color: #202020;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo_img {
    width: 50px;
    height: 58px;
    background-image: url(../img/logo.png);
    margin-right: 26px;
}

.logo_text {
    font-size: 2.25em;
    color: #3546df;
    padding-bottom: 4px;
    font-family: 'Lobster',
    cursive;
}

.call {
    background: none;
    border: none;
    cursor: pointer;
    background: #c3c3c3;
    color: #ffffff;
    padding: 10px 50px;
    border-radius: 2em;
}

.swiper-container {
    max-height: 700px;
    margin-top: 20px;
}

.swiper-slide {
    position: relative;
    color: #ffffff;
    max-height: 700px;
}

.swiper-slide h2 {
    position: absolute;
    top: 150px;
    left: calc(50% - 315px);
    font-size: 4.5em;
    font-weight: bold;
    line-height: 1.1;
    font-family: 'Lobster',
    cursive;
}

.swiper-slide h3 {
    position: absolute;
    top: 250px;
    left: calc(50% - 473px);
    font-size: 2.75em;
    font-weight: 300;
    line-height: 1.1;

}

.swiper-slide p {
    position: absolute;
    top: 380px;
    left: calc(50% - 437px);
    font-size: 1.375em;
    text-align: center;
    max-width: 875px;
}

.more {
    position: absolute;
    top: 530px;
    left: calc(50% - 127px);
    font-size: 1em;
    /* font-weight: bold; */
    padding: 20px 100px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    color: #ffffff;
    background-color: #b533b9;
}

.more:hover {
    border: 1px solid #000000;
}

.services {
    margin-top: 30px;
    margin-bottom: 70px;
}

h2 {
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 2.5em;
    margin-bottom: 30px;
}

.services-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.services-item {
    width: 380px;
    height: 210px;
    border: 1px solid #dfdfdf;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.services-item img {
    width: 120px;
    height: 120px;
}

.about {
    padding-top: 50px;
    padding-bottom: 50px;
    background: #f5f5f5;
}

.about p {
    max-width: 925px;
    margin: 0 auto;
    line-height: 1.4;
    padding-bottom: 50px;
    font-size: 1.125em;
}

.photo-area {
    background:#fdeeec;
}
.photo-area-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    /* justify-content: space-between; */
    padding-top: 70px;
    padding-bottom: 70px;
}

.photo-area-wrap img{
    max-width: 440px;
    max-height: 325px;
    border: 5px solid #ffffff;
    margin-right: 20px;
}

.feedback {
    padding-top: 50px;
    padding-bottom: 50px;
    background: #f5f5f5;
}

.feedback-wrap {
    max-width: 925px;
    margin: 0 auto;
    line-height: 1.4;
    font-size: 1.125em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.feedback-wrap h3 {
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 2.5em;
    margin-bottom: 30px;
}

.feedback-wrap p {
    font-size: 14px;
    color: #333333;
}

.feedback button {
    background-color: rgb(221, 114, 113);
    border-radius: 2em;
    font-size: 18px;
    color: #ffffff;
    padding: 15px 150px 15px 150px;
    border: none;
    cursor: pointer;
}

.garantees {
    background:#fdeeec;
    padding-top: 50px;
    padding-bottom: 70px;
}

.garantees-item {
    width: 380px;
    height: 210px;
    border: 1px solid #dfdfdf;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #ffffff;
}

.garantees-item img {
    width: 80px;
    height: 80px;
}

.revievs {
    padding-top: 150px;
    padding-bottom: 150px;
}

.footer {
    background:#fdeeec;
}

.footer-wrap {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.map {
    height: 400px;
}

.contacts-items li{
    line-height: 2.5;
    font-size: 1.125em;
    list-style: none;
    font-weight: 60;
}

.contacts-items i {
    margin-right: 10px;
}

.phone {
    /* display: block;
    background-color: rgb(221, 114, 113);
    text-align: center;
    border-radius: 2em;
    padding: 10px;*/
    color: #000000;
    text-decoration: none; 
}

.phone:hover {
    color: #3546df;
}

.social-items {
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.social-items a:first-of-type {
    font-size: 40px;
}


